<div class="row">
	<div class="col-md-12">
	  <p class="text-center">
		<strong>Evolution du: {{projet.datedebut|date('d/m/Y')}} - {{"now"|date('d/m/Y')}}</strong>
	  </p>
	  
	<div class="col-md-12">
	  <!--<p class="text-center">
		<strong>Détails</strong>
	  </p>-->
	  <div class="progress-group col-md-12">
		<span class="progress-text">Attendue</span>
		<span class="progress-number"><b>{{projet.evolutionattendu}}</b>/100</span>
		<div class="progress sm">
		  <div class="progress-bar progress-bar-aqua" style="width: {{projet.evolutionattendu}}%"></div>
		</div>
	  </div><!-- /.progress-group -->
	  <div class="progress-group col-md-12">
		<span class="progress-text">En cours</span>
		<span class="progress-number"><b>{{projet.evolutionencours}}</b>/100</span>
		<div class="progress sm">
		  <div class="progress-bar progress-bar-red" style="width: {{projet.evolutionencours}}%"></div>
		</div>
	  </div><!-- /.progress-group -->
	</div><!-- /.col -->
  </div>
  </div>