{# Page Intervenants du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Intervenants{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Intervenants
{% endblock %}

{% block breadcrumbDescription %}
   Les parties prenantes du projet
{% endblock %}

{% block breadcrumbPosition %}
   Intervenants
{% endblock %}

{% block contenupage %}
<div class="row">
<!-- Intervenants start-->
<div class="box box-success">
<div class="box-header">
  <h3 class="box-title">Liste des intervenants</h3>
</div><!-- /.box-header -->
<div class="box-body">
 <button id="newintervenant" class ="btn btn-success" ><span class ="icon-plus icon-white"></span> Ajouter</button>
  <table id="listeintervenants" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nom</th>
        <th>Lot</th>
        <th>Localisation</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    {% for intervenant in liste_intervenants %}
      <tr>
        <td>Trident</td>
        <td>Internet
          Explorer 4.0</td>
        <td>Win 95+</td>
        <td> 4</td>
        <td>X</td>
        <td> 4</td>
        <td>X</td>
      </tr>
    {% else %}
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td> -</td>
        <td>-</td>
        <td> -</td>
        <td>-</td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
</div><!-- /.box-body -->
</div>
<!-- Intervenants end-->
</div><!-- /.row --> 

{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="{{asset('js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/Chart.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/evolution.js')}}" type="text/javascript"></script>
    <script>
      $(function () {
        $("#listeintervenants").DataTable();
      });
    </script>
{% endblock %}