{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Couriers{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}


{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Couriers
{% endblock %}

{% block breadcrumbDescription %}
{% endblock %}

{% block breadcrumbPosition %}
   Liste des couriers
{% endblock %}

{% block contenupage %}


<div class="row" id="block_form_courier">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Envoie d'un courier</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
                <form id="form_courier" method="post" action="{{ path("gp_courier_add") }}" class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <input id="idcourier" value="" name="idcourier" type="hidden">
                        {{form_widget(form._token)}}
                    </div>
                    
                    <div class="item form-group">           
                        {{ form_label(form.courierenvoyes, "Destinataire: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.courierenvoyes) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.courierenvoyes, {'attr': {'class': 'form-control col-md-7 col-xs-12','placeholder':'Objet du courier', 'required':'required'}}) }}
                        </div>
                    </div>
                    
                    <div class="item form-group">           
                        {{ form_label(form.objet, "Objet: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.objet) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.objet, {'attr': {'class': 'form-control col-md-7 col-xs-12','placeholder':'Objet du courier', 'required':'required'}}) }}
                        </div>
                    </div>
                     <div class="item form-group">
                        {{ form_label(form.contenu, "Contenu: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.contenu) }}
                        <div class="col-md-6 col-sm-10 col-xs-12">
                            {{ form_widget(form.contenu, {'attr': {'class': 'form-control col-md-6 col-xs-12'}}) }}
                        </div>
                    </div>
                    {% if app.session.flashbag.get('message_failure') %}										
                    <div id="message_courier">
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flash_message in app.session.flashbag.get('message_failure') %}
                                {{ flash_message }}
                        {% endfor %}
                        </div>
                    </div> 
                    {% endif %}
                    <div class="ln_solid"></div>
                    <div id="actions" class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="close_form" class="btn btn-primary">Annuler</button>
                            <button id="send" type="submit" class="btn btn-success">Envoyer</button>
                        </div>
                    </div>
                    <div id="loader" style="display: none; margin-left: 50%;">
                        <img src="{{asset('bundles/gestionprojet/images/ajax-loader.gif')}}">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>                  
<div class="modal hide fade" id="confirmModal" data-backdrop ="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Confirmation de la suppression</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" class="span3" id="idcouriertodelete" name="idsemaine"  value="">
        <p>La suppression de cet courier supprimera aussi les défaillances qui lui sont associées</p>
        <p>Confirmez-vous cette suppression ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" id="confirmModalNo">Non</button>
        <button  class="btn btn-primary" id="confirmModalYes">Oui</button>
    </div>
</div>
<div class="modal hide fade" id="alertModal" data-backdrop ="false" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <p id="message_alert"></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" id="ok">OK</button>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="{{asset('bundles/gestionprojet/js/ajax_courier.js')}}"></script>
    <script src="{{asset('js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/Chart.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/evolution.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
      $(function () {
        $("#listecouriers").DataTable();
      });
    </script>
{% endblock %}{# empty Twig template #}
