<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box box-success">
        <div class="box-header">
            <h3 class="">Envoie d'un courier</h3>           
        </div>
        <div class="box-body">

            <form id="form_courier" method="post" action="{{ path("gp_courier_add") }}" {{ form_enctype(form) }} class="form-horizontal form-label-left" novalidate>
                <div class="item form-group">
                    <input id="idcourier" value="" name="idcourier" type="hidden">
                    {{form_widget(form._token)}}
                </div>

                <div class="item form-group">
                    <label>Destinataires</label>
                    <select class="form-control multiselect" multiple="multiple" name="destinataires[]">
                        {%if liste_intervenants%}
                            {%for intervenant in liste_intervenants%}
                                <option value="{{intervenant.id}}">{{intervenant.nom}}</option>
                            {% endfor %}    
                        {% endif %}
                    </select>
                </div>

                <div class="item form-group">           
                    {{ form_label(form.file, "Reference", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_errors(form.file) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.file, { 'attr' : {'class' : 'inputfile' }}) }}
                    </div>
                </div>

                <div class="item form-group">           
                    {{ form_label(form.objet, "Objet: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_errors(form.objet) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.objet, {'attr': {'class': 'form-control col-md-7 col-xs-12','placeholder':'Objet du courier', 'required':'required'}}) }}
                    </div>
                </div>
                <div class="item form-group">
                    {{ form_label(form.contenu, "Contenu: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_errors(form.contenu) }}
                    <div class="col-md-6 col-sm-10 col-xs-12">
                        {{ form_widget(form.contenu, {'attr': {'class': 'form-control col-md-6 col-xs-12'}}) }}
                    </div>
                </div>

                <div class="item form-group">           
                    {{ form_label(form.uploadedFiles, "Pieces jointes", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                    {{ form_errors(form.uploadedFiles) }}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form_widget(form.uploadedFiles, { 'attr' : {'class' : 'inputfile' }}) }}
                    </div>
                </div>

                {% if app.session.flashbag.get('message_failure') %}										
                    <div id="message_courier">
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flash_message in app.session.flashbag.get('message_failure') %}
                                {{ flash_message }}
                            {% endfor %}
                        </div>
                    </div> 
                {% endif %}
                <div class="ln_solid"></div>
                <div id="actions" class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button onclick = "annuler_envoie({{intervenant.id}})" class="btn btn-danger">Annuler</button>
                        <button id="send" type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>
                <div id="loader" style="display: none; margin-left: 50%;">
                    <img src="{{asset('bundles/gestionprojet/images/ajax-loader.gif')}}">
                </div>
            </form>
        </div>
    </div>
</div>