<div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header">
                <h3>Modification d'un projet</h3>
            </div>
            <div class="box-body">
                <form id="form_projet" method="post" action="{{ path('gp_projet_update',{'id' : idprojet}) }}" class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <input type="hidden" id="idprojet" name = "idprojet" value="{{idprojet}}">
                        {{form_widget(form._token)}}
                    </div>

                    <div class="item form-group">           
                        {{ form_label(form.code, "Code du projet", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.code) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.code, {'attr': {'class': 'form-control col-md-7 col-xs-12','placeholder':'Code du projet', 'required':'required'}}) }}
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.intitule, "Intitule", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.intitule) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.intitule, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':'Intitule'}}) }}
                        </div>
                    </div>
                    <div class="item form-group">
                         {{ form_label(form.datedebut, "Date debut", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}   
                         {{ form_errors(form.datedebut) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                               {{ form_widget(form.datedebut) }}
                        </div>              
                    </div>

                      {# Date fin #} 
                      <div class="item form-group">
                         {{ form_label(form.datefin, "Date fin", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                         {{ form_errors(form.datefin) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                               {{ form_widget(form.datefin) }}
                        </div>              
                    </div>			
           
                    <div class="item form-group">
                        {{ form_label(form.budget, "Budget", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.budget) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.budget, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':'Budget'}}) }}
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.demandeur, "Demandeur", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.demandeur) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.demandeur, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':'Demandeur'}}) }}
                        </div>
                    </div>
                         
                     <div class="form-group">
                        {{ form_label(form.evolutionattendu, "Evolution attendue", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.evolutionattendu) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.evolutionattendu, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'required':'required'}}) }}
                            
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.evolutionencours, "Evolution en cours", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.evolutionencours) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           {{ form_widget(form.evolutionencours, {'attr': {'class':'form-control col-md-7 col-xs-12', 'required':'required'}}) }}
                           
                        </div>
                    </div>
                    <div class="item form-group">
                        {{ form_label(form.description, "Description", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.description) }}
                        <div class="col-md-6 col-sm-10 col-xs-12">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-6 col-xs-12'}}) }}
                        </div>
                    </div>
                    
                    {#<div class="item form-group">
                        {{ form_label(form.statut, "", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.statut) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           {{ form_widget(form.statut, {'attr': {'required':'required'}}) }}
                           
                        </div>
                    </div>#}
                        
                    {% if app.session.flashbag.get('message_failure') %}										
                    <div id="message_projet">
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flash_message in app.session.flashbag.get('message_failure') %}
                                {{ flash_message }}
                        {% endfor %}
                        </div>
                    </div> 
                    {% endif %}
                    <div class="ln_solid"></div>
                    <div id="actions" class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="close_form" class="btn btn-danger">Annuler</button>
                            <button id="send" type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </div>
                    <div id="loader" style="display: none; margin-left: 50%;">
                        <img src="{{asset('bundles/gestionprojet/images/ajax-loader.gif')}}">
                    </div>
                </form>
				</div>
            </div>
        </div>
    </div>