<html>
    <head>
        <link rel='stylesheet' href='{{ asset('fullcalendar/fullcalendar.css')}}' />
        <link rel='stylesheet' href='{{ asset('fullcalendar/lib/cupertino/jquery-ui.min.css')}}' />
{#        <link rel='stylesheet' href='{{ asset('fullcalendar/fullcalendar.print.css')}}'/>#}
        <script src='{{ asset('fullcalendar/lib/jquery.min.js')}}'></script>
        <script src='{{ asset('fullcalendar/lib/moment.min.js')}}'></script>
        <script src='{{ asset('fullcalendar/fullcalendar.js')}}'></script>
        
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {#<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>#}
<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2016-01-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
                        events: {
				url: Routing.generate('projet_calendrier_events'),
				error: function(data) {
                                    alert(data);
                                    $('#script-warning').show();
				}
			},
			loading: function(bool) {
				$('#loading').toggle(bool);
			}
                        
		});
		
	});

</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>
</head>
<body>

	<div id='calendar'></div>
        <div id='loading'>loading...</div>
        <div id='script-warning' class='hide'>
            <code class='hide-text'>Une erreur s'est produite lors du chargement des evenements</code>
	</div>

</body>
</html>

