<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="box box-success">
        <div class="box-header">
            <h3 class="">Modification d'une photo</h3>           
        </div>
        <div class="box-body">

            <form id="form_photo" method="post" action="{{ path("gp_photo_update", {'id':photo.id}) }}" {{ form_enctype(form) }} class="form-horizontal form-label-left" novalidate>
                <div class="item form-group">
                    <input id="idphoto" value="" name="idphoto" type="hidden">
                    {{form_widget(form._token)}}
                </div>
				<div class="item form-group">
                        {{ form_label(form.intitule, "Intitule", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.intitule) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.intitule, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':'Intitulé de la photo'}}) }}
                        </div>
                    </div>
                    
					<div class="item form-group">           
                        {{ form_label(form.dateprise, "Date de prise: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.dateprise) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                               {{ form_widget(form.dateprise) }}
                        </div>  
                    </div>
					
                    <div class="item form-group">           
                        {{ form_label(form.url, "Photo", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.url) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.url, { 'attr' : {'class' : 'inputurl' }}) }}
                        </div>
                    </div>
           
                     <div class="item form-group">
                        {{ form_label(form.description, "Description: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.description) }}
                        <div class="col-md-6 col-sm-10 col-xs-12">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control col-md-6 col-xs-12'}}) }}
                        </div>
                    </div>
                    {% if app.session.flashbag.get('message_failure') %}										
                    <div id="message_photo">
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flash_message in app.session.flashbag.get('message_failure') %}
                                {{ flash_message }}
                        {% endfor %}
                        </div>
                    </div> 
                    {% endif %}
                    <div class="ln_solid"></div>
                    <div id="actions" class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <a id="send" href="{{path("gp_photo",{'id' : photo.idprojet.id})}}" class="btn btn-danger">Annuler</a>
                            <button id="send" type="submit" class="btn btn-success">Enregistrer</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>