{# Template formulaire envoie mail #}
{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Ressources{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
    <link href="{{asset('css/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Mail
{% endblock %}

{% block breadcrumbDescription %}
    Envoi d'un mail
{% endblock %}

{% block breadcrumbPosition %}
    Mail
{% endblock %}

{% block contenupage %}
    <div class="box box-primary">
        
        {# Formulaire de création d'une ressource #}
        <form role="form" action="{{ path('gestion_projet_send')}}" {{ form_enctype(form) }} method="POST" >
              
<div class="box box-primary">
    <div class="box-header">
        <h3>Envoyer un mail</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row col-md-12">
            <div class="product-img col-md-12">
                <div class="form-group">
                    <label>Destinataire(s)</label>
                    {{ form_errors(form.Destinataires)}}
                    {{ form_widget(form.Destinataires,{'attr':{'class':'form-control'}})}}
                </div>
                {# Objet #} 
                <div class="form-group">
                    
                  <label for="">Objet</label>
                  {{ form_errors(form.Objet)}}
                  {{ form_widget(form.Objet,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                  <label for="">Message</label>
                  {{ form_errors(form.Message)}}
                  {{ form_widget(form.Message,{'attr':{'class':'form-control ckeditor'}})}}
                  {#<textarea class="ckeditor" name="ckeditor" rows="10" cols="50">
                  </textarea>#}
                </div>
                {{form_rest(form)}}
            </div>          
        </div>
    </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-success pull-right">Envoyer</button>
      <button type="reset" class="btn btn-danger pull-left">Annuler</button>
    </div>
</div>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="{{asset('js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
    <script>
        $(function () {
            $(".data-table").DataTable();
        });
    </script>
{% endblock %}