{# Template liste des actualités #}


<div class="row">
<!-- Document start-->
<div class="box box-primary">
<div class="box-header">
    {# ajouter le thème à la place de la variable theme #}
  <h3 class="box-title">Liste des actualités {{ theme }}</h3>
</div><!-- /.box-header -->
<div class="box-body">
  <table class="data-table table table-bordered table-striped">
    <thead>
      <tr>
        <th>Thème</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Contenu</th>
        
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    {% for actualite in actualites %}
      <tr>
        <td>{{actualite.idtheme.nom}}</td>
        <td>{{actualite.titre}}</td>
        <td>{{ actualite.description }}</td>
        <td>{{actualite.contenu}}</td>
        
      </tr>
    {% else %}
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td> -</td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
</div><!-- /.box-body -->
</div>
<!-- Intervenants end-->
</div><!-- /.row --> 
