{# Template de la liste de documents validés #}
{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Documentation {% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Documentation
{% endblock %}

{% block breadcrumbDescription %}
   Documentation du projet 
{% endblock %}

{% block breadcrumbPosition %}
   Documentation
{% endblock %}
{% block menuDocumentation %}class="active"{% endblock %}
{% block contenupage %}
<div class="row">
    <!-- Document start-->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des documents d'exécution validés</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="data-table table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Description</th>
                        <th>Intervenant</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for ressource in ressources %}
                        <tr>
                            <td><a href="{{asset('uploads/ressources/'~ressource.path)}}"> {{ressource.reference}} </a</td>

                            <td>{{ressource.description}}</td>
                            <td>{% if ressource.idintervenant.nom is defined %}

                                {{ressource.idintervenant.nom}}
                                {% endif%}
                                </td>
                                <td>
                                    <a href="{{path('gestion_projet_ressource_update',{'id':ressource.idressource})}}" class="pull-right"><i class="fa fa-edit"></i></a>
                                    <a href="{{path('gestion_projet_ressource_delete',{'id':ressource.idressource})}}" class="pull-right"><i class="fa fa-minus"></i></a>
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                {% endfor %}    
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div>
                    <!-- Intervenants end-->
                </div><!-- /.row --> 
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
      $(function () {
        $(".data-table").DataTable();
      });
    </script>
{% endblock %}