{#<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
<script type="text/javascript">
   function initialize() {
       
      var options = {
          types: ['(cities)']
      } ;
      var input = document.getElementById('fos_user_profile_form_adresse1');
      var input2 = document.getElementById('fos_user_profile_form_adresse2');
      
      
      var autocomplete = new google.maps.places.Autocomplete(input,options);
      var autocomplete2 = new google.maps.places.Autocomplete(input2);
      
   }
   google.maps.event.addDomListener(window, 'load', initialize);
</script>#}

   <div class="col-md-offset-2 col-md-8">           
    <form role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        
   <div class="box-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Civilité</label>
                    <select class="form-control">
                        <option>M.</option>
                        <option>Mme</option>
                    </select>
                </div>
                <div class="form-group">
                    {#<label for="">Nom</label>
                    
                    <input type="text" class="form-control" id="" placeholder="Nom">#}
                    
                  {{ form_label(form.nom,"Nom") }}
                  {{ form_errors(form.nom)}}
                  {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    {#<label for="">Prénom</label>
                    <input type="text" class="form-control" id="" placeholder="Prénom">#}
                  {{ form_label(form.prenom,"Prénom") }}
                  {{ form_errors(form.prenom)}}
                  {{ form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    {#<label for="">Fonction</label>
                    <input type="text" class="form-control" id="" placeholder="Fonction">#}
                  {{ form_label(form.fonction,"Fonction") }}
                  {{ form_errors(form.fonction)}}
                  {{ form_widget(form.fonction,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                  {{ form_label(form.titre,"Titre") }}
                  {{ form_errors(form.titre)}}
                  {{ form_widget(form.titre,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                  {{ form_label(form.idintervenant,"Nom d'utilisateur") }}
                  {{ form_errors(form.idintervenant)}}
                  {{ form_widget(form.idintervenant,{'attr':{'class':'form-control'}})}}
                   {# <label for="">Entreprise</label>
                    <select class="form-control">
                        {% for intervenant in liste_intervenants %}
                            <option>Nom de l'intervenant</option>
                        {% else %}
                            <option>Defaut</option>
                        {% endfor %}   
                    </select>#}
                </div>
                <div class="form-group">
                  {{ form_label(form.email,"Email") }}
                  {{ form_errors(form.email)}}
                  {{ form_widget(form.email,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.telephone,"Telephone") }}
                  {{ form_errors(form.telephone)}}
                  {{ form_widget(form.telephone,{'attr':{'class':'form-control'}})}}
                </div>
                
                <div class="form-group">
                    
                 {{ form_label(form.personnelcle,"Personnel Cle") }}
                 {{ form_errors(form.personnelcle)}}
                 {{ form_widget(form.personnelcle,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                   
                   {{ form_label(form.username,"Nom d'utilisateur") }}
                  {{ form_errors(form.username)}}
                  {{ form_widget(form.username,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    
                 {{ form_label(form.current_password,"Mot de passe actif") }}
                   {{ form_errors(form.current_password)}}
                  {{ form_widget(form.current_password,{'attr':{'class':'form-control'}})}}
                </div>
               
                
                <div class="form-group">
                    {{form_rest(form)}}
                </div>

            </div>

            <div class="col-md-4">
                <div class="img-thumbnail img-responsive img-preview">
                    
                    <img alt="" src="" id="preview-image" width="100%"/>
                </div>
                <div class="form-group">
                    <label for="">Photo de profil</label>
                    <input type="file" id="" class="inputfile">
                    <p class="help-block">Sélectionner une photo de profil.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="box-footer">
      <button type="reset" class="btn btn-danger pull-left">Annuler</button>
      <button type="submit" class="btn btn-success pull-right">Enregistrer</button>
    </div>
</form>

 </div>   
