
<div class="row">
<div class="fos_user_user_show col-sm-6">
    <p><b>Nom d'utilisateur</b>: {{ user.username }}</p>
    <p><b>Email</b>: {{ user.email }}</p>
    <p><b>Nom</b>: {{ user.nom }}</p>
    <p><b>Prenom</b>: {{ user.prenom }}</p>
    <p><b>Institution</b>: {{ user.institution }}</p>
    <p><b>Telephone</b>: {{ user.telephone }}</p>
    <p><b>Profession</b>: {{ user.job }}</p>
    <p><b>Date de naissance</b>: {{ user.birthdate|date('d-m-Y') }}</p>
    <p><b>Role</b>: {{ user.role }}</p>
    <p><b>Adresse 1</b>: {{ user.adresse1 }}</p>
    <p><b>Adresse 2</b>: {{ user.adresse2 }}</p>
</div>

<div class="col-sm-6 pull-right" >
    <div>
        <a href="{{path('fos_user_profile_edit')}}"><b>Modifier mes infos</b></a>
    </div>
    <div>
        <a href = "{{path('fos_user_change_password')}}" ><b>Changer de mot de passe</b></a>
    </div>
</div>
    </div>    