<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
<script type="text/javascript">
   function initialize() {
       
      var options = {
          types: ['(cities)']
      } ;
      var input = document.getElementById('fos_user_profile_form_adresse1');
      var input2 = document.getElementById('fos_user_profile_form_adresse2');
      
      
      var autocomplete = new google.maps.places.Autocomplete(input,options);
      var autocomplete2 = new google.maps.places.Autocomplete(input2);
      
   }
   google.maps.event.addDomListener(window, 'load', initialize);
</script>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    
    
        <fieldset>
        <legend>Modifier Mes informations</legend>
        <div class="row">
            <div class="form-group col-sm-3">
                  {{ form_label(form.username,"Nom d'utilisateur") }}
                   {{ form_errors(form.username)}}
                  {{ form_widget(form.username,{'attr':{'class':'form-control'}})}}
                {#<label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">#}
              </div>
              
              <div class="form-group col-sm-3">
                  {{ form_label(form.email,"Email") }}
                   {{ form_errors(form.email)}}
                  {{ form_widget(form.email,{'attr':{'class':'form-control'}})}}
                {#<label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">#}
              </div>
              <div class="form-group col-sm-3">
                <label for="emailc">Confirmation email:</label>
                <input type="email" class="form-control" id="emailc" name="emailc">
              </div>
              <div class="form-group col-sm-3">
                  {{ form_label(form.current_password,"Mot de passe actif") }}
                   {{ form_errors(form.current_password)}}
                  {{ form_widget(form.current_password,{'attr':{'class':'form-control'}})}}
                {#<label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">#}
              </div>
              
        </div>
        <div class="row">
              <div class="form-group col-sm-3">
                {{ form_label(form.nom,"Nom : ") }}
                {{ form_errors(form.nom)}}
                {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
               {# <label for="nom">Nom:</label>
                <input type="text" class="form-control" id="nom" name="nom">#}
              </div>
              <div class="form-group col-sm-3">
                {{ form_label(form.prenom,"Prenom : ") }}
                {{ form_errors(form.prenom)}}
                {{ form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
               {# <label for="prenom">Prenom:</label>
                <input type="text" class="form-control" id="prenom" name="prenom">#}
              </div>
             <div class="form-group col-sm-3">
               {{ form_label(form.birthdate,"Date de naissance") }}
                {{ form_errors(form.birthdate)}}
                {{ form_widget(form.birthdate,{'attr':{'class':'form-control'}})}}
              </div>
              <div class="form-group col-sm-3">
               {{ form_label(form.role,"Qu'est ce qui decrit au mieux votre role : ") }}
                {{ form_errors(form.role)}}
                {{ form_widget(form.role,{'attr':{'class':'form-control'}})}}
              </div>
             {# <div class="form-group col-sm-2">
                <label for="number">Numero CISSP:</label>
                <input type="text" class="form-control" id="number" name="number">
              </div>#}
        </div>
        <div class="row">
              <div class="form-group col-sm-3">
                 {{ form_label(form.job,"Profession : ") }}
                {{ form_errors(form.job)}}
                {{ form_widget(form.job,{'attr':{'class':'form-control'}})}}
                {#<label for="profession">Profession:</label>
                <input type="text" class="form-control" id="profession" name="profession">#}
              </div>
              <div class="form-group col-sm-3">
                {{ form_label(form.institution,"Compagnie/Employeur : ") }}
                {{ form_errors(form.institution)}}
                {{ form_widget(form.institution,{'attr':{'class':'form-control'}})}}
                {#<label for="companie">Companie/Employeur:</label>
                <input type="text" class="form-control" id="companie" name="companie">#}
              </div>
              <div class="form-group col-sm-2">
                {{ form_label(form.telephone,"Téléphone : ") }}
                {{ form_errors(form.telephone)}}
                {{ form_widget(form.telephone,{'attr':{'class':'form-control'}})}}
                  
                {#<label for="telephone">Télephone:</label>
                <input type="text" class="form-control" id="telephone" name="telephone">#}
              </div>
              <div class="form-group col-sm-2">
                {{ form_label(form.fax,"Fax : ") }}
                {{ form_errors(form.fax)}}
                {{ form_widget(form.fax,{'attr':{'class':'form-control'}})}}
                {#<label for="fax">Fax:</label>
                <input type="text" class="form-control" id="fax" name="fax">#}
              </div>
        </div>
        <div class="row">
            
            <h4>Adresse 1:</h4>
             <div class="form-group col-sm-12">
                {{ form_label(form.adresse1,"Adresse 1 : ") }}
                {{ form_errors(form.adresse1)}}
                {{ form_widget(form.adresse1,{'attr':{'class':'form-control','autocomplete':'on','placeholder':'Ville,Pays'}})}}
                
               {# <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">#}
              </div>
              
              {#<div class="form-group col-sm-4">
               {{ form_label(form.adresse2.ville,"Ville : ") }}
                {{ form_errors(form.adresse2.ville)}}
                {{ form_widget(form.adresse2.ville,{'attr':{'class':'form-control'}})}}
                <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">
              </div>
              <div class="form-group col-sm-4">
                {{ form_label(form.adresse2.codepostal,"Code Postal : ") }}
                {{ form_errors(form.adresse2.codepostal)}}
                {{ form_widget(form.adresse2.codepostal,{'attr':{'class':'form-control'}})}}
                <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">
              </div>#}
              
        </div>
        
        <div class="row">
            
            <h4>Adresse 2:</h4>
              <div class="form-group col-sm-12">
                {{ form_label(form.adresse2,"Adresse 2 : ") }}
                {{ form_errors(form.adresse2)}}
                {{ form_widget(form.adresse2,{'attr':{'class':'form-control','autocomplete':'on','placeholder':'Ville,Pays'}})}}
               {# <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">#}
              </div>
              
              {#<div class="form-group col-sm-4">
               {{ form_label(form.adresse2.ville,"Ville : ") }}
                {{ form_errors(form.adresse2.ville)}}
                {{ form_widget(form.adresse2.ville,{'attr':{'class':'form-control'}})}}
                <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">
              </div>
              <div class="form-group col-sm-4">
                {{ form_label(form.adresse2.codepostal,"Code Postal : ") }}
                {{ form_errors(form.adresse2.codepostal)}}
                {{ form_widget(form.adresse2.codepostal,{'attr':{'class':'form-control'}})}}
                <label for="adresse1">Adresse N°1:</label>
                <input type="email" class="form-control" id="adresse1" name="adresse1">
              </div>#}
              
        </div>
        <div class="row">
              <div class="form-group col-sm-3">
                {{ form_label(form.denomination  ,"Votre Statut : ") }}
                {{ form_errors(form.denomination)}}
                {{ form_widget(form.denomination,{'attr':{'class':'form-control'}})}}
                {#<label for="ville">Ville:</label>
                <input type="text" class="form-control" id="ville" name="ville">#}
              </div>
              <div class="form-group col-sm-3">
                {{ form_label(form.description  ,"Comment avez vous entendu parler de kratos : ") }}
                {{ form_errors(form.description)}}
                {{ form_widget(form.description,{'attr':{'class':'form-control'}})}}
                {#<label for="region">Région:</label>
                <select name="region" id="region">
                    <option value="">1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>#}
              </div>
              <div class="form-group col-sm-2">
                {{ form_label(form.situation  ,"Statut Matrimonial : ") }}
                {{ form_errors(form.situation)}}
                {{ form_widget(form.situation,{'attr':{'class':'form-control'}})}}
                {#<label for="code">Code postal:</label>
                <input type="text" class="form-control" id="code" name="code">#}
              </div>
               <div class="form-group col-sm-2">
                {{form_rest(form)}}
              </div>
              
        </div>
       
        </fieldset>
    <div class="center" style="padding-top: 10px;">
      <button type="submit" class="btn btn-success">Modifier</button>
      <button type="reset" class="btn">Reinitialiser</button>

    </div>
    </form>
    
