{# Page Evolution du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Evolution{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
{% endblock %}

{% block breadcrumbDescription %}

{% endblock %}

{% block breadcrumbPosition %}
   Evolution
{% endblock %}

{% block contenupage %}
{%if projet%}
<div class="row">
    <!-- General evolution start-->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Niveau d'avancement global</h3>                    
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Evolution du: {{projet.datedebut|date('d/m/Y')}} - {{"now"|date('d/m/Y')}}</strong>
              </p>
              <!-- <div class="chart">-->
                <!-- Sales Chart Canvas -->
               <!--  <canvas id="salesChart" height="200"></canvas>-->
              <!--</div> --><!-- /.chart-responsive -->
            <!--</div><!-- /.col -->
            <div class="col-md-4">
              <!--<p class="text-center">
                <strong>Détails</strong>
              </p>-->
              <div class="progress-group">
                <span class="progress-text">Attendue</span>
                <span class="progress-number"><b>{{projet.evolutionattendu}}</b>/100</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: {{projet.evolutionattendu}}%"></div>
                </div>
              </div><!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">En cours</span>
                <span class="progress-number"><b>{{projet.evolutionencours}}</b>/100</span>
                <div class="progress sm">
                  <div class="progress-bar progress-bar-red" style="width: {{projet.evolutionencours}}%"></div>
                </div>
              </div><!-- /.progress-group -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- ./box-body -->
        <div class="box-footer text-center">
            <div id="loader-evolution-projet" style="display: none;">
                <img src="{{asset('bundles/gestionprojet/images/ajax-loader.gif')}}">
          </div>
          <div id="lien-evolution-projet">
                <a id="lien-edit" class="users-list-name" onclick="edit_evolution_projet({{projet.id}})" style="cursor: pointer;">Mettre à jour</a>
          </div>
            
        </div><!-- /.box-footer -->
      </div><!-- /.box -->
    </div>
    <!-- General evolution end-->
</div><!-- /.row --> 

             
  <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Niveau d'avancement par intervenants</h3>                    
          </div><!-- /.box-header -->
          <div class="box-body">
              {%if liste_intervenants%}
                    {%for intervenant in liste_intervenants%}
              <div class="col-sm-4">
                  <div class="box box-default">
                      <div class="box-header with-border">
                        <h3 class="box-title">{{intervenant.nom}}</h3>                    
                      </div><!-- /.box-header -->
                      <div class="box-body">
                         <div class="progress-group">
                              <span class="progress-text">Attendue</span>
                              <span class="progress-number"><b>{{intervenant.evolutionattendu}}</b>/100</span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: {{intervenant.evolutionattendu}}%"></div>
                              </div>
                          </div><!-- /.progress-group -->
                          <div class="progress-group">
                              <span class="progress-text">En cours</span>
                              <span class="progress-number"><b>{{intervenant.evolutionencours}}</b>/100</span>
                              <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: {{intervenant.evolutionencours}}%"></div>
                              </div>
                          </div><!-- /.progress-group -->
                      </div><!-- /.box-body -->
                      <div class="box-footer text-center">
                          <div id="loader-evolution-intervenant{{intervenant.id}}" style="display: none;">
                                <img src="{{asset('bundles/gestionprojet/images/ajax-loader.gif')}}">
                          </div>
                          <div id="lien-evolution-intervenant{{intervenant.id}}">
                                <a class="users-list-name" onclick="edit_evolution_intervenant({{intervenant.id}})" style="cursor: pointer;">Mettre à jour</a>
                          </div>
                        
                        
                    </div><!-- /.box-footer -->
                  </div>
              </div>  
                {%endfor%} 
        {%endif%}
          </div>
        </div>
   </div>             
</div>

<div id="form_evolution_projet" class="modal fade" tabindex="-1" role="dialog">
    
</div> 
<div id="form_evolution_intervenant" class="modal fade" tabindex="-1" role="dialog">
    
</div> 
{%endif%}
{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="{{asset('bundles/gestionprojet/js/ajax_evolution.js')}}"></script>
    <script src="{{asset('bundles/gestionprojet/js/Chart.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/gestionprojet/js/evolution.js')}}" type="text/javascript"></script>
{% endblock %}