{# Page Collaboration du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Collaboration{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}
{% block menuCollaboration %}class="active"{% endblock %}
{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
   
{% endblock %}

{% block breadcrumbDescription %}
  
{% endblock %}

{% block breadcrumbPosition %}
   Collaboration
{% endblock %}

{% block contenupage %}
<div class="row">
        
<!-- Historique start-->
<div class="col-sm-4">                  
    {#{render(controller('GestionProjetBundle:Actualite:getActualites', {'nbre_actualite': 10}))}#}
	<!-- Historique start-->
<div class="box box-success">
<div class="box-header">
  <h3 class="box-title">Historique</h3>
</div><!-- /.box-header -->
<div class="box-body">
  <ul class="products-list product-list-in-box">
        <li class="item">
          <div class="col-md-2">
          </div>
          <div class="col-md-9 col-md-offset-1">
          </div>
        </li>
  </ul>
</div><!-- /.box-body -->
</div>
<!-- Historique end-->
</div>
<!-- Envoyer message start-->
    <div class="col-sm-8">                  
      <div class="box box-success">
          <div class="box-header">
              <h3>Envoyer un message</h3>
          </div><!-- /.box-header -->
		  <div class="box-body">
				{% if app.session.flashbag.get('notice') %}										
                    <div id="message_courier" class="col-md-6 col-sm-6 col-xs-12">
                        <div id="myAlert" class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                               <div class="flash-notice">
									{{ flashMessage }}
								</div>
                        {% endfor %}
                        </div>
                    </div> 
                {% endif %}
				<form id="form_mail" method="post" action="{{ path("gestion_projet_send_mail") }}" {{ form_enctype(form) }} class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        {{form_widget(form._token)}}
                    </div>
                    
                    <div class="item form-group">
                        {{ form_label(form.destinataire, "A", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.destinataire) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.destinataire, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder':'Courrier de reference'}}) }}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">En copie</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							<select class="form-control multiselect col-md-7" multiple="multiple" name="destinataires[]">
							  {%if liste_utilisateurs%}
								{%for user in liste_utilisateurs%}
								<option value="{{user.id}}">{{user.nom}}</option>
								{% endfor %}    
							  {% endif %}
							</select>
							</div>
                    </div>
                    
                    <div class="item form-group">           
                        {{ form_label(form.objet, "Objet: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.objet) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.objet, {'attr': {'class': 'form-control col-md-7 col-xs-12','placeholder':'Objet du courier', 'required':'required'}}) }}
                        </div>
                    </div>
                     <div class="item form-group">
                        {{ form_label(form.contenu, "Contenu: ", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.contenu) }}
                        <div class="col-md-6 col-sm-10 col-xs-12">
                            {{ form_widget(form.contenu, {'attr': {'class': 'form-control col-md-6 col-xs-12'}}) }}
                        </div>
                    </div>
      
                    <div class="item form-group">           
                        {{ form_label(form.uploadedFiles, "Pieces jointes", {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        {{ form_errors(form.uploadedFiles) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.uploadedFiles, { 'attr' : {'class' : 'inputfile' }}) }}
                        </div>
                    </div>
                     
                    {% if app.session.flashbag.get('notice') %}										
                    <div id="message_courier">
                        <div id="myAlert" class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for flash_message in app.session.flashbag.get('message_failure') %}
                                {{ flash_message }}
                        {% endfor %}
                        </div>
                    </div> 
                    {% endif %}
                    <div class="ln_solid"></div>
                    <div id="actions" class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button  type="reset" class="btn btn-danger">Annuler</button>
                            <button id="send" type="submit" class="btn btn-success">Envoyer</button>
                        </div>
                    </div>
                </form>
			</div>
      </div>
    </div>
<!-- Envoyer un message end-->
</div>
{% endblock %}

{% block js %}
    {{ parent()}}
    
    <script>
        $(function() {
			$('#menuCollaboration').addClass('active');
            $().acknowledgeinput({
                success_color: '#00FF00',
                danger_color: '#FF0000',
                update_on: 'keyup'
            });
			$('.multiselect').multiselect({
                disableIfEmpty: true,
                disabledText: 'Pas de sélection ...',
				enableFiltering: true,
				includeSelectAllOption: true,
				buttonWidth: '300px',
				
            });
			setTimeout(function () {
                $('#myAlert').alert("close");
                }, 4000);
			$('.image-caption a').tooltip();
    
			CKEDITOR.replace('.ckeditor');
			$('.datetimepicker').datetimepicker({
				language: 'fr',
				pick12HourFormat: true
			  });
			  
        });
    </script>
{% endblock %}