{# Page Utilisateurs du projet  #}


{% extends "GestionProjetBundle::bundle.template.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block stylesheets %} 
    {{parent()}}
    {# Fichiers css en plus #}
{% endblock %}

{% block utilisateur %}
    {{parent()}}
{% endblock %}

{% block breadcrumbTitle %}
    Utilisateurs
{% endblock %}

{% block breadcrumbDescription %}
   Le personnel du projet
{% endblock %}

{% block breadcrumbPosition %}
   Utilisateurs
{% endblock %}
{% block menuUtilisateur %}class="active"{% endblock %}

{% block contenupage %}
<div class="row col-md-10 col-md-offset-1">
<!-- Intervenants start-->
<div class="box box-primary">
<div class="box-header">
  <h3 class="box-title">Liste des Utilisateurs</h3><a href="{{path("fos_user_registration_register")}}" class="pull-right"><i class="fa fa-plus"></i>Ajouter</a>
</div><!-- /.box-header -->
<div class="box-body">
  <table id="listeintervenants" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Fonction</th>
        <th>Entreprise</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Activé</th>
        <th>Privilèges</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    {% for utilisateur in utilisateurs %}
      <tr>
          <td><img width="100px" height="100px" src="{{asset('uploads/profils/'~utilisateur.path)}}" alt="{{utilisateur.nom}}" /></td>
        <td>{{utilisateur.nom}}</td>
        <td>{{utilisateur.prenom}}</td>
        <td>{{utilisateur.fonction}}</td>
        
        <td>{% if utilisateur.idintervenant.nom is defined %}
            {{utilisateur.idintervenant.nom}}
            {%endif%}
        </td>
        <td>{{utilisateur.email}}</td>
        <td>{{utilisateur.telephone}}</td>
        <td>{%if utilisateur.enabled %}
                oui
            {%else%}
                non
            {%endif%}    
        </td>
        <td>{% for r in utilisateur.roles %}
            {{r ~' '}}
            {%else%}
             -
             {%endfor%}
        </td>
        <td><a href="{{path('gestion_projet_utilisateurs_bloques',{'id' : utilisateur.id})}}"><i class="fa fa-eye"></i>Bloquer/Debloquer</a></td>
      </tr>
    {% else %}
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td> -</td>
        <td>-</td>
        <td> -</td>
        <td> -</td>
        <td>-</td>
      </tr>
    {% endfor %}      
    </tbody>
  </table>
</div><!-- /.box-body -->
</div>
<!-- Intervenants end-->
</div><!-- /.row --> 

{% endblock %}

{% block js %}
    {{ parent()}}
    {# Fichiers js en plus #}
    <script src="{{asset('js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/Chart.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('js/evolution.js')}}" type="text/javascript"></script>
    <script>
      $(function () {
        $("#listeintervenants").DataTable();
      });
    </script>
{% endblock %}